body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1467C3;
}

header {
    background-color: #F7DD00;
    color: white;
    padding: 15px;
    text-align: center;
    margin-top: 15%;
}


main {
    padding: 15px;
}

/* Mobile-first responsive design */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Media Query for Tablets and Desktops */
@media (min-width: 768px) {
    nav ul li {
        display: inline-block;
        padding: 14px 40px;
    }

    main {
        max-width: 960px;
        margin: auto;
    }
}
