body {
    font-family: Inter, -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FEE715;
}

/* Innehållscontainer (utan bakgrund och skugga) */
.content {
    text-align: center;
    max-width: 400px;
    width: 100%;
    padding: 0 20px; /* Utrymme mellan innehåll och skärmens kanter */
    margin-top: -50px; /* Justering för lodrät centrering */
}

/* Introduktionstext */
.intro-text {
    font-size: 28px; /* Storlek för introduktionstexten */
    margin-bottom: 30px;
    color: #101820;
    font-weight: bold; /* Fetstil för att göra texten mer framträdande */
}

/* Stil för knappar */
.button {
    display: block;
    width: 100%;
    padding: 15px;
    margin: 12px 0;
    font-size: 18px;
    color: #101820;
    background-color: #fff;
    border: 2px solid #000; /* Ram runt knappen */
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, transform 0.3s; /* Mjuk övergång för hover-effekt */
}

/* Ikoner i knappar (flyttas till höger) */
.button i {
    margin-left: 10px; /* Mellanrum mellan text och ikon */
}

/* Hover-effekt för knappar */
.button:hover {
    background-color: #000;
    color: #fff;
    transform: scale(1.05); /* Förstorar knappen lite vid hover */
}