html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Inter, -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FEE715;
}

.content {
    text-align: center;
    max-width: 400px;
    width: 100%;
    padding: 0 20px; /* Skapar utrymme vid kanterna */
    box-sizing: border-box;
}

.intro-text {
    font-size: 28px;
    margin-bottom: 30px;
    color: #101820;
    font-weight: bold;
}

.button {
    display: block;
    width: 90%; /* Gör att knapparna inte tar hela bredden */
    padding: 15px;
    margin: 12px auto; /* Centrerar knapparna och skapar mellanrum */
    font-size: 18px;
    color: #101820;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    box-sizing: border-box; /* Säkerställer att padding inte påverkar bredden */
}

.button i {
    margin-left: 10px;
}

.button:hover {
    background-color: #000;
    color: #fff;
    transform: scale(1.05);
}