* {
    margin: 0;
    padding: 0;
    font-family: Inter, -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background: #FEE715;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 25px 35px;
    background: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.container p {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 12px;
    color: #101820;
}

.container input {
    width: 100%;
    height: 50px;
    border: 2px solid #101820;
    outline: none;
    padding: 10px;
    margin: 10px 0 20px;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fff;
    color: #101820;
}

.container button {
    width: 100%;
    height: 50px;
    background: #fff;
    color: #101820;
    border: 2px solid #101820;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.container button:hover {
    background-color: #101820;
    color: #fff;
    transform: scale(1.05);
}

#imgBox {
    width: 200px;
    border-radius: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;
    margin: 0 auto;
}

#imgBox img {
    width: 100%;
    padding: 10px;
}

#imgBox.show-img {
    max-height: 300px;
    margin: 10px auto;
    border: 1px solid #d1d1d1;
}

#suggestion-box {
    border: 2px solid #101820;
    max-width: 100%;
    background-color: #fff;
    position: absolute;
    z-index: 100;
    display: none;
    border-radius: 5px;
    overflow: hidden;
}

#suggestion-box div {
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    color: #101820;
}

#suggestion-box div:hover {
    background-color: #f0f0f0;
}


